<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into anonymous (nickname, pw, image, content, likecount, ip)
        values
            (#{nickname} , #{pw} , #{image} , #{content}, 0, #{ip})
    </insert>
    <update id="updateBoard">
        update anonymous
        set content=#{content}, image=#{image}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from anonymous where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from anonymous where seq=#{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from anonymous order by seq desc
    </select>
    <update id="updatelikecount">
        update anonymous
        set likecount=#{likecount}
        where seq=#{seq}
    </update>
</mapper>